/* Estilos adicionales */
.icon-large {
    font-size: 2.5rem; /* Ajusta este valor según el tamaño deseado */
    color: #1e7e34; /* Cambia el color según el diseño */
    margin-right: 15px; /* Espaciado entre el ícono y el texto */
}