@font-face {
    font-family: 'Wilden';
    src: url('../fonts/Wilden-Font/Wilden.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rohyt';
    src: url('../fonts/Rohyt-Font/Fontspring-DEMO-rohyt-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h5, .btn, .nav-link {
    font-family: 'Wilden', sans-serif;
}

p {
    font-family: 'Rohyt', sans-serif;
}